<div class="container">
  <% if @plants.blank? %>
    <h2>Sorry. There are no plants containing the term <%= params[:search] %>.</h2>
  <% end %>
</div>

<% if @plants.count != Plant.all.count %>
  <h1>Search Results (<%= @plants.count %>)</h1>
<% end %>

<div class="card-container">
  <div class="container">
    <div class="row">
      <% @plants.each do |plant| %>
      <div class="col-xs-12 col-sm-3">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
           url('<%= cl_image_path plant.photo, height: 300, width: 400, crop: :fill %>')">
            <div class="card-body card-description">
              <h3 class="card-title"><%= plant.title %></h3>
            </div>
            <%= link_to "", plant_path(plant), class: "card-link"  %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
