<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-6">
      <div class="plant-show" style="background-image: url(<%= @plant.photo %>);">
      </div>
    </div>
    <div class="col-xs-12 col-lg-6">
      <div class="plant-description">
        <h3>
          <%= @plant.title %>
          <% if @plant.user == current_user %>
            <small>
              <%= link_to "", edit_plant_path(@plant), :class => "fa fa-edit fa-lg" %>
              <%= link_to "", plant_path(@plant),
                :class => "fa fa-trash-o fa-lg",
                method: :delete,
                data: { confirm: "Are you sure?" } %>
            </small>
          <% end %>
        </h3>
        <h4><%= @plant.description %></h4>
        <br>
        <h4><em>Details</em></h4>
        <p><strong>Plant care:</strong> <%= @plant.care %></p>
        <p><strong>Plant type:</strong> <%= @plant.plant_type %></p>
        <p><strong>Cost: </strong>$<%= @plant.cost %></p>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-lg-6">
      <div id="map" style="width: 80%; height: 350px;" data-markers="<%= @markers.to_json %>">
      </div>
    </div>
    <div class="col-xs-12 col-lg-6">
      <div class="plant-booking">
        <h3>Book this plant</h3>
      <div class="plant-booking">
        <%= simple_form_for [@plant, @booking] do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.hidden_field :cost, :value => "#{@plant.cost}" %>
            <p id="date-label">From</p>
            <%= f.input :start_date, as: :string, label: false, required: true, input_html: { class: "datepicker", data: {:'date-dates-disabled' => @plant.booked_dates }, :onchange => "calculateTotal()", :onblur => "setEndDate()" } %>
            <p id="date-label">To</p>
            <%= f.input :end_date, as: :string, label: false, required: true, input_html: { class: "datepicker", data: {:'date-dates-disabled' => @plant.booked_dates }, :onchange => "calculateTotal()" } %>
          </div>
          <div>
            <ul class="cost-info list-inline">
              <li><p>$<%= @plant.cost %> x</p></li>
              <li id="days"></li>
              <li><p>days</p></li>
            </ul>
            <ul class="list-inline">
            <li><p>Total = $</p></li>
            <li id="cost"></li>
            </ul>
          </div>
          <div class="form-actions btn-book">
            <%= f.button :submit, "Book" %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
