<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-6">
      <div class="plant-show" style="background-image: url(<%= @plant.photo %>);">
      </div>
    </div>
    <div class="col-xs-12 col-lg-6">
      <div class="plant-description">
        <h3>
          <%= @plant.title %>
          <% if @plant.user == current_user %>
            <small>
              <%= link_to "", edit_plant_path(@plant), :class => "fa fa-edit fa-lg" %>
              <%= link_to "", plant_path(@plant),
                :class => "fa fa-trash-o fa-lg",
                method: :delete,
                data: { confirm: "Are you sure?" } %>
            </small>
          <% end %>
        </h3>
        <h4><%= @plant.description %></h4>
        <br>
        <h4><em>Details</em></h4>
        <p><strong>Plant care:</strong> <%= @plant.care %></p>
        <p><strong>Plant type:</strong> <%= @plant.plant_type %></p>
        <p><strong>Cost: </strong>$<%= @plant.cost %></p>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-lg-6">
      <div id="map" style="width: 80%; height: 350px;" data-markers="<%= @markers.to_json %>">
      </div>
    </div>
    <div class="col-xs-12 col-lg-6">
      <div class="plant-booking">
        <h3>Book this plant</h3>
        <button onclick="showCalendar()">See Available Dates</button>
        <div id="calendar" style="display:none">
          <%= month_calendar events: @bookings do |date, bookings| %>
            <%= date.day %>
            <% bookings.each do |booking| %>
              <div>
                <strong>X</strong>
              </div>
            <% end %>
          <% end %>
        </div>
          <%= simple_form_for [@plant, @booking] do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
              <%= f.input :start_date, required: true, autofocus: true %>
              <%= f.input :end_date, required: true %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Book", class: "btn btn-success" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
