<div class="banner plant-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path @plant.photo, crop: :fill %>')">
  <div class="banner-content">
    <h1><%= @plant.title %></h1>
  </div>
</div>

<div class="plant-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-9">
      <div class="plant-description">
        <h3>
          <%= @plant.title %>
          <% if @plant.user == current_user %>
            <small>
              <%= link_to "", edit_plant_path(@plant), :class => "fa fa-edit fa-lg" %>
              <%= link_to "", plant_path(@plant),
                :class => "fa fa-trash-o fa-lg",
                method: :delete,
                data: { confirm: "Are you sure?" } %>
            </small>
          <% end %>
        </h3>
        <h4><%= @plant.description %></h4>
        <br>
        <h4><em>Details</em></h4>
        <p><strong>Plant care:</strong> <%= @plant.care %></p>
        <p><strong>Plant type:</strong> <%= @plant.plant_type %></p>
        <p><strong>Cost: </strong><%= @plant.cost %></p>
      </div>
      <div
        id="map"
        style="width: 100%;
        height: 400px;"
        data-markers="<%= @markers.to_json %>"
      ></div>
      <%= link_to 'Back', plants_path %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="plant-booking">
        <h3>Book this plant</h3>
        <button onclick="showCalendar()">See Available Dates</button>
        <div id="calendar" style="display:none">
          <%= month_calendar events: @bookings do |date, bookings| %>
            <%= date.day %>
            <% bookings.each do |booking| %>
              <div>
                <strong>X</strong>
              </div>
            <% end %>
          <% end %>
        </div>
        <%= simple_form_for [@plant, @booking] do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :start_date, required: true, autofocus: true %>
            <%= f.input :end_date, required: true %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Book" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

