<div class="plant-banner" style="background-image: url('<%= cl_image_path @plant.photo, crop: :fill %>')">
  <div class="plant-title">
    <h1><%= @plant.title %></h1>
  </div>
</div>

<div class="plant-container">
  <div class="row">
    <div class="col-xs-5 col-xs-offset-2">
      <div class="plant-description">
        <h2>Description</h2>
        <p>The BEST plant in the world!</p>
        <ul class="list-inline">
          <% if policy(@plant).update? %>
          <li><%= link_to "Update", edit_plant_path(@plant) %></li>
          <li><%= link_to "Delete", plant_path(@plant), method: :delete %></li>
          <li><%= link_to 'Back', plants_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="plant-booking">
        <h3>Book this plant</h3>
        <%= simple_form_for [@plant, @booking] do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :start_date, required: true, autofocus: true %>
            <%= f.input :end_date, required: true %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Complete" %>
          </div>
        <% end %>
      </div>
      <div class="plant-care">
        <h2>Plant Care</h2>
      </div>
    </div>
  </div>
</div>
