<div class="banner plant-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path @plant.photo, crop: :fill %>')">
  <div class="banner-content">
    <h1><%= @plant.title %></h1>
  </div>
</div>

<div class="plant-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-9">
      <div class="plant-description">
        <h2>Description</h2>
        <ul class="list-inline">
          <li></li>
          <% if policy(@plant).update? %>
            <li><%= link_to "Edit", edit_plant_path(@plant), class:"ml-3 text-warning fa fa-edit" %></li>
            <li><%= link_to "Delete", plant_path(@plant), method: :delete, data: { confirm: 'Are you sure?' }, class:"fas fa-trash-alt" %></li>
          <% end %>
          <li><%= link_to 'Back', plants_path %></li>
        </ul>
        <%= @plant.description %>
      </div>
      <div class="plant-care">
        <h3>Plant Care</h3>
        <%= @plant.care %>
      </div>
      <div
        id="map"
        style="width: 100%;
        height: 400px;"
        data-markers="<%= @markers.to_json %>"
      ></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="plant-booking">
        <h3>Book this plant</h3>
        <button onclick="showCalendar()">See Available Dates</button>
        <div id="calendar" style="display:none">
          <%= month_calendar events: @bookings do |date, bookings| %>
            <%= date.day %>
            <% bookings.each do |booking| %>
              <div>
                <strong>X</strong>
              </div>
            <% end %>
          <% end %>
        </div>
        <%= simple_form_for [@plant, @booking] do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :start_date, required: true, autofocus: true %>
            <%= f.input :end_date, required: true %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Book" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

