<div class="banner plant-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path @plant.photo, crop: :fill %>')">
  <div class="banner-content">
    <h1><%= @plant.title %></h1>
  </div>
</div>

<div class="plant-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <div class="plant-description">
        <h3>
          <%= @plant.title %>
          <% if @plant.user == current_user %>
            <small>
              <%= link_to "", edit_plant_path(@plant), :class => "fa fa-edit fa-lg" %>
              <%= link_to "", plant_path(@plant),
                :class => "fa fa-trash-o fa-lg",
                method: :delete,
                data: { confirm: "Are you sure?" } %>
            </small>
          <% end %>
        </h3>
        <h4><%= @plant.description %></h4>
        <br>
        <h4><em>Details</em></h4>
        <p><strong>Plant care:</strong> <%= @plant.care %></p>
        <p><strong>Plant type:</strong> <%= @plant.plant_type %></p>
        <p><strong>Cost: </strong>$<%= @plant.cost %></p>
      </div>
      <%= link_to 'Back', plants_path %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
    <h3>Book this plant</h3>
      <div class="plant-booking">
        <%= simple_form_for [@plant, @booking] do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.hidden_field :cost, :value => "#{@plant.cost}" %>
            <%= f.input :start_date, as: :string, label: "From", required: true, input_html: { class: "datepicker", data: {:'date-dates-disabled' => @plant.booked_dates }, :onchange => "calculateTotal()" } %>
            <%= f.input :end_date, as: :string, label: "To", required: true, input_html: { class: "datepicker", data: {:'date-dates-disabled' => @plant.booked_dates }, :onchange => "calculateTotal()" } %>
          </div>
          <div>
            <ul class="list-inline">
              <li><p>$<%= @plant.cost %> x</p></li>
              <li id="days"></li>
              <li><p>days</p></li>
            </ul>
            <ul class="list-inline">
            <li><p>Total = $</p></li>
            <li id="cost"></li>
            </ul>
          </div>
          <div class="form-actions btn-book">
            <%= f.button :submit, "Book" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div
  id="map"
  style="width: 100%;
  height: 400px;"
  data-markers="<%= @markers.to_json %>"
></div>

